web/WEB-INF/wsdl/localhost_22253/WebAplikacija/PretragaKlijentaServisService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://www.klijenti.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.klijenti.com">

<xs:element name="Klijent" type="tns:klijent"/>

<xs:element name="vratiKlijente" type="tns:vratiKlijente"/>

<xs:element name="vratiKlijenteResponse" type="tns:vratiKlijenteResponse"/>

<xs:complexType name="vratiKlijente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vratiKlijenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:klijent" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="klijent">
<xs:sequence>
<xs:element name="klijentID" type="xs:int" minOccurs="0"/>
<xs:element name="nazivFirme" type="xs:string" minOccurs="0"/>
<xs:element name="PIB" type="xs:int" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="telefon" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>